/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}


.bgimage {
    height:100vh;
    background: url('images/main5.JPEG');
    background-size:cover;
    position:relative;
}

.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    margin-left: 110px;
    text-align: left;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


#contact {
    padding-bottom: 4rem;
}

.imageAboutPage {
    width: 100%;
}


.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #000000;
}

#footer {
    background-color: #808080;
    text-align: center;
}
@media screen and (max-width: 600px) {
    .navbarScroll.navbarDark {
        background-color: black;
    }
    .bgimage {
        height:30vh;
        background: url('images/main5.JPEG');
        background-size:cover;
        position:relative;
    }
    .hero_title {
        font-size: 1rem;
    }
    .hero_desc {
        font-size: .90rem;
    }
    .hero-text {
        margin-left: 1.0rem;
        text-align: left;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    
    
    #contact {
        padding-bottom: 1rem;
    }
    
    .imageAboutPage {
        width: 50%;
    }
    
    .card-title {
        text-align: center;
    }
    .card:hover .servicesIcon {
        color: #008000;
    }
    .servicesText:hover {
        border: 1px solid #008000;
    }
    
    .social-icons {
        font-size: 36px;
        cursor: pointer;
    }
    .fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
        color: #008000;
    }
    .fab {
        color: #000000;
    }
    
    #footer {
        background-color: #808080;
        text-align: center;
    }
}
